.pastConversations {
  grid-area: history;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f3ed;
  width: 100%;
  padding: 1rem;
  border-right: 1px solid #ccc;
  height: 100%;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #ccc;
  padding-bottom: 1rem;
}

.createChatbtn {
  padding: 10px;
}

.title {
  color: #000;
  font-size: 1.4rem;
}

.messageNotChats {
  color: #000;
}
