.menuList {
  display: flex;
  align-items: center;
}

.menuItem {
  list-style-type: none;
}

.menuLink {
  margin-left: 1rem;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  background-color: #333;
  color: #faf9f6;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
